/upstreams/
/artifacts/*
!/artifacts/design/
!/artifacts/commands/
!/artifacts/initiatives/
!/artifacts/plans/
!/artifacts/prd/
!/artifacts/releases/
!/artifacts/research/
!/artifacts/updates/
/artifacts/updates/*
!/artifacts/commands/.gitkeep
!/artifacts/design/.gitkeep
!/artifacts/initiatives/.gitkeep
!/artifacts/plans/.gitkeep
!/artifacts/prd/.gitkeep
!/artifacts/releases/.gitkeep
!/artifacts/research/.gitkeep
!/artifacts/updates/.gitkeep
!/artifacts/**/.gitkeep
/tmp/
/node_modules/
/build/
/dist/
__pycache__/
*.pyc
